.Header {
  background-color: #1E2844;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Footer {
  background-color: #1E2844;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.FooterLink {
  color: #FFFFFF;
  border-right: 1px solid #FFFFFF;
  padding-left: 5px;
  padding-right: 10px;
}

.FooterLink:last-child {
  border-right: 0;
}

.InnerBlock {
  display: inline-flex;
  justify-content: space-between;
  width: 70%;
  text-align: left;
}

.FooterInnerBlock {
  display: inline-flex;
  justify-content: space-between;
  width: 70%;
  text-align: left;
}

.FetchaiLogo {
  width: 127px;
  height: 20px;
}

.FetchaiLogoFooter {
  width: 127px;
  height: 20px;
}

.Title {
  width: 100%;
  text-align: center;
  height: auto;
  background-color: #1E2844;
  color: #FFFFFF;
  background-image: url("../assets/TitleBg.png");
  padding-top: 60px;
}

.TitleLeft {
  width: 50%;
  display: inline-block;
}

.TitleRight {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.ManagerLogo {
  width: 150px;
  height: 150px;
}

.TitleHr {
  max-width: 220px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: grey;
  border: none;
  border-top: 1px solid #FFFFFF;
}

.Screenshots {
  width: 450px;
  margin-bottom: 20px;
}

.Links {
  text-align: center;
  height: 200px;
  background-color: #F6F6F8;
  width: 100%;
  height: auto;

}

.LinksInnerBlock {
  display: inline-block;
  width: 70%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.OsImg {
  width: 150px;
  height: 150px;
  margin: 30px;
}

.OsLink {
  text-decoration: none;
}

.Description {
  width: 100%;
  text-align: center;
  height: auto;
}

.DescriptionInnerBlock {
  display: inline-block;
  width: 70%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.Copyright {
  margin-bottom: 0;
}

.Link {
  display: contents;
  margin-bottom: 30px;
  margin-top: 30px;
  width: fit-content;
  height: auto;
}

.Btn {
  border: none;
  border-radius: 10px;
  outline: none;
  width: 250px;
  height: 50px;
  color: #FFFFFF;
  background-color: darkgrey;
  font: normal normal normal 17px/20px Montserrat;
}

.BtnDownload {
  background-color: #5887DA;
}

.BtnDownload:hover {
  background-color: #4265A3 !important;
}

.Btn:hover {
  background-color: grey;
  cursor: pointer;
}

.FeedbackLink {
  text-align: center;
}

body {
  margin: 0;
  font: normal normal normal 17px/24px Montserrat;
}

@media screen and (max-device-width: 1024px) {
  body {
    font: normal normal normal 37px/40px Montserrat;
    line-height: 1;
  }
  .FetchaiLogoFooter {
    display: none;
  }
  .FooterInnerBlock {
    text-align: center;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Copyright {
    margin-bottom: 30px;
  }
  .FetchaiLogo {
    width: 254px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .OsImg {
    width: 300px;
    height: 300px;
  }
  .Btn {
    font: normal normal normal 37px/40px Montserrat;
    width: 500px;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
  }
  .TitleRight {
    display: none;
  }
  .TitleLeft {
    width: 100%;
    text-align: center;
  }
  .TitleHr {
    display: none;
  }
}
